[submodule "dist/go"]
    path = dist/go
    url = git@github.com:budka-tech/snip-common-go.git

[submodule "dist/ts"]
    path = dist/ts
    url = git@github.com:budka-tech/snip-common-ts.git

[submodule "dist/dart"]
    path = dist/dart
    url = git@github.com:budka-tech/snip-common-dart.git
